header{background-image:url("/resources/chicon.jpg");}
footer{background-image:url("/resources/chicon.jpg");}
a.l{background:red;color:white;text-decoration: none;}
a.l:hover{background:blue;}
.r{width:80px;}
#mco{display:block}
.news{
    font-size:17px;
    color:white;
    text-decoration:none;
}