header{
    background-image:url("/resources/chicon.jpg");
}
footer{
    background-image:url("/resources/chicon.jpg");
}
a.l{background:red;color:white;text-decoration: none;}
a.l:hover{background:blue;}
.r{size: 80px;width:80px;}
#mco{display:block}
p{
    line-height:10px;
}